    a{
    text-decoration: none;
}

.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.options{
    display: flex;
    width: 30%;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.icons img{
    padding-right: 15px;
}

.buttons{
    color: black;
    padding-left: 20px;
    font-family: 'Inter';
}

.buttons:hover{
    font-weight: 500;
}

.logo img{
    padding: 10px 0px 10px 0px;
    width: 90px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 35%;
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: rgb(0, 0, 0);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media (max-width: 600px) {
    .logo img{
        padding: 10px 0px 10px 0px;
        width: 50%;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons img{
        width: 60%;
    }
    .nav-btn {
		visibility: visible;
		opacity: 1;
	}
    .options{
        position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: white;
		transition: 1s;
        transform: translateY(-100vh);
    }
    .responsive_nav {
		transform: translateY(100vh);
        z-index: 1;
	}
    .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
    }
    .buttons {
		font-size: 1.5rem;
	}
}