@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.product_details_div{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    flex:wrap;
}
.product_name_div h3{
    width: 467px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.product_name_div{
    display:flex;
    flex-wrap:wrap;
}

.product_image_div{
    display:flex;

}

.discount_msg{
    display:flex;
    align-items:center;
    width: 82px;
    height: 31px;
    
    margin-top:45px;
    margin-left:40px;

    background: #DE0202;
   
}

.discount_msg b{
    margin-left:13px;
    margin-bottom:2px;
    width: 66.27px;
    height: 19px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;

}



.product_price_div h4{
    width: 197px;
    height: 65px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

}

.product_price_div{
    display:flex;
    flex-direction:row;

}

.product_review_div h4{
    width: 85px;


    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.product_colour_div{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;

}

.product_colour_div h4{
    width: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.colour_collection{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top:29px;
    padding-right: 100px;;
   
}

.colour_option{
    width: 13px;
    height: 13px;
    margin:4px;
    border-radius: 50%;

    background: #FF0000;
}

.product_points_div{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction:row;
}

.sub_points{
    display:flex;
    flex-direction:column;
    /* justify-content:space-between; */
    margin:20px;
}

.product_size_div{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-between;
}

.product_size{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.size_button_div{
    display:flex;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #000000; 

    margin:18px;
    
    width: 135px;
    height: 56px;
}

.size_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}


.add_to_cart_button_div div{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    width: 639px;
    height: 74px;
    margin-top:20px;
    margin-left:80px;

    background: #000000;
}

.add_to_cart_button_div img{
    width: 116px;
    height: 24px; 
    padding-left:281px;
}

.product_review_div{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;

}

.reviews_stars{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:30px;
}

.reviews_stars img{
    margin:2px;
}

.point p{
    width: 230px;
    height: 20px;
    margin-left:10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.point{
    display:flex;
    flex-direction:row;
    margin:18px;
}


.size_button_div a{
    width: 96px;
    height: 39px;
    padding-top:8px;
   
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
@media(max-width:680px){
    .product_name_div{
        padding-left: 7%;
    }
    .product_price_div{
        padding-left: 7%;
    }
    .product_review_div{
        padding-left: 7%;
    }
    .product_colour_div{
        padding-left: 7%;
    }
    .size_button_div{
        width: 96px;
    height: 46px;
    }
}