@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.outer-category-header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:91px;
    margin-right:91px;
}

.title_and_results{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.header-title h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

.header-results{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
}



.sort_and_filter{
    display:flex;
    flex-direction: row;
    justify-content:space-around;;
    margin-top:120px;
}

.header-sort{
    display:flex;
    flex-direction:row;
}

.header-sort h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.header-sort img{
    margin-top:20px;
    margin-right:45px;
}

.header-filter h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}