::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #ffffff;
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(40,58,58,1) 100%);
  }
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,1);
  }


.container {
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(40,58,58,1) 100%); */
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  margin-top: 106px;
  height: 389px;
}

li {
  padding-top: 20px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0px 0px 20px 5%;
  margin: 0px 0px 0px 0px;
}

.container a {
  font-style: 'Inter';
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.container a:hover {
  font-weight: 900;
  font-style: 'Inter';
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}


.footer-heading {
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
}

.text-about {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.footer-lining {
  background-color: #000000;
  border: 1px solid #000000;
  margin: 0;
  /* padding: 0px 20px; */
}

.footer-end {
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,58,58,1) 100%); */
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.end-logo button {
  font-family: 'inter';
  font-weight: 500;
  font-size: 15px;
  background: #FFFFFF;
  border-radius: 22px;
  width: 101px;
  height: 39px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.footer-logo {
  font-family: 'inter';
  font-weight: 900;
  font-size: xxx-large;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.end-button {
  font-family: 'inter';

}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 53px;
  }
  ul {
    list-style-type: none;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .aboutus{
    text-align: center;
    margin-left: 10px;
    width: 100%;
  }
  .categories{
    text-align: center;
    width: 100%;
  }
  .categories li{
    text-align: center;
    width: 100%;
  }
  .column-for-content{
    text-align: center;
    width: 100%;
  }
  .column-for-content li{
    text-align: center;
    width: 100%;
  }
  .text-about {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  
    color: #000000;
  }
  .footer-heading {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
  }
  .footer-logo {
    font-family: 'inter';
    font-weight: 900;
    font-size: xx-large;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .end-logo button {
    font-family: 'inter';
    font-weight: 500;
    font-size: 15px;
    background: #FFFFFF;
    border-radius: 22px;
    width: 101px;
    height: 39px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: 0px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}



@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    padding-left: 5px;
    height: 750px;
  }
  .aboutus{
    text-align: left;
    margin-left: 10px;
    width: 90%;
  }

  .categories {
    width: 100%;
  }
  .categories li{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .column-for-content {
    width: 100%;
  }
  .column-for-content li{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .footer-logo {
    font-family: 'inter';
    font-weight: 900;
    font-size: x-large;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  .footer-heading {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 20px 0px;
  }
}