body{
    background-color: rgb(255, 255, 255);
}

.gender_shop{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.mens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.womens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 400px;
    width: 300px;
    padding-top: 20px;
}

button{
    margin-top: 10px;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
