.order-item{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;

    width: 1129px;
    height: 228px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
}


.order-item-information{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin-left:20px;

    width: 520px;
    height: 229px;
    

}

.order-item-date-image{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

    width: 205px;
    height: 229px;

}

.order-item-date-image p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #000000;

}



.order-item-name-button{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin-left:20px;
}

.order-item-name-button p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #000000;

    margin-top:50px;
}

.order-item-name-button-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;

    width: 260px;
    height: 229px;

    margin-top: 50px;

}

.order-item-name-button-buttons a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #000000;

}

.buy-again-button{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap;

    width: 105.78px;
    height: 26px;
    

    background: #EFDA21;
    border-radius: 2px;
}

.view-item-button{
    display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap;

    width: 105.78px;
    height: 26px;
   

    background: #D9D9D9;
    border-radius: 2px;
}

.order-item-buttons{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    margin-right:30px;
}

.order-item-buttons div{
    margin:10px;
}

.order-item-buttons a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #000000;

}

.rate-product-button{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    width: 340px;
    height: 26px;

    background-color:#7FDA7F ;
    border-radius: 2px;
}

.feedback-button{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    
    width: 340px;
    height: 26px;

    background-color:#D9D9D9;
    border-radius: 2px;
}

.report-issue-button{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    
    width: 340px;
    height: 26px;

    background-color:#D73E3E; ;
    border-radius: 2px;
}

.invoice-button{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    
    width: 340px;
    height: 26px;

    background-color:#FFC0CB;
    border-radius: 2px;
}

