@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.product-card{
    display:flex;
    flex-direction:column;
}

.product-details{
    display:flex;
    flex-direction:column;
}

.product-name p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.product-price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}